.header {
  display: flex;
  user-select: none;
  border-bottom: 1px solid var(--steel-blue);
  background-color: var(--midnight-blue);

  &__name {
    display: flex;
    padding: 0 0 0 1.5rem;
    align-items: center;
    min-width: 304.46px;
    color: var(--green);
    border-right: 1px solid var(--steel-blue);
  }

  nav {
    width: 100%;
  }

  ul {
    display: flex;

    li {
      border-right: 1px solid var(--steel-blue);
      border-bottom: 3px solid transparent;
      cursor: pointer;
      transition: 0.2s ease-in-out;

      &.active {
        border-bottom: 3px solid var(--orange);
        color: var(--white)
      }

      a {
        display: flex;
        padding: 0.8rem 1.5rem;
      }
    }

    li:last-child {
      margin-left: auto;
      border-left: 1px solid var(--steel-blue);
      border-right: none;
      color: var(--green);
    }
  }
}
