.hero {
  display: flex;
  flex-direction: row;
  margin-top: auto;
  color: var(--white);
  width: 100%;
  height: 100%;

  &__intro {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    margin-top: auto;
    padding: 0 0 4rem 4rem;

    h1 {
      font-size: 4rem;
      font-weight: 100;
    }

    h4 {
      display: flex;
      align-items: center;
      font-size: 2rem;
      font-weight: 100;
      color: var(--royal-blue);
    }

    &-info {
      ul {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;

        li:first-child {
          p {
            span:last-child {
              color: var(--white);
            }
          }
        }

        li {
          display: flex;
          flex-direction: column;
          gap: 0.5rem;

          h5 {
            color: var(--steel-blue);
          }

          p {
            display: flex;
            gap: 0.7rem;
            span:first-child {
              color: var(--royal-blue);
            }

            span:nth-of-type(2) {
              color: var(--green);
            }

            span:last-child {
              color: var(--brown);
            }
          }
        }
      }
    }
  }
}
