.galleryContent {
  flex: 1;
  overflow: auto;
  padding: 1rem 2rem 1rem 2.5rem;
  box-shadow: -4px 0 8px rgba(0, 0, 0, 0.2);

  &__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    width: 100%;

    &-item {
      width: 100%;
      display: flex;
      justify-content: center;

      img {
        width: 100%;
        height: auto;
        object-fit: cover;
      }
    }
  }
}
