@mixin respond-to($media) {
  @if $media == "tablet" {
    @media (max-width: 1024px) {
      @content;
    }
  }@else if $media == "mobile" {
    @media (max-width: 767px) {
      @content;
    }
  }
}

.galleryContent {
  flex: 1;
  box-shadow: -4px 0 8px rgba(0, 0, 0, 0.2);
  border-left: 1px solid var(--steel-blue);

  @include respond-to(tablet) {
    box-shadow: unset;
  }

  &__list {
    display: flex;
    padding: 1rem 2rem 1rem 2.5rem;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    overflow-y: auto;
    width: 100%;
    height: 100%;
    scroll-behavior: smooth;

    @include respond-to(tablet) {
      overflow: unset;
    }

    @include respond-to(mobile) {
      padding: 0 0 1rem;
    }
    
    &-item {
      width: 100%;
      display: flex;
      justify-content: center;
      max-width: 40rem;

      img {
        width: 100%;
        height: auto;
        object-fit: cover;
      }
    }
  }
}
