.programmingLanguages {
  padding: 1rem 2rem 0 2.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: fit-content;
  flex: 1;
  border-left: 1px solid var(--steel-blue);
  overflow: auto;
  box-shadow: -4px 0 8px rgba(0, 0, 0, 0.2);

  &__item {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;

    &-sublist {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-auto-rows: auto;
      gap: 0.8rem;
      border: 1px solid var(--steel-blue);
      padding: 2rem;
      border-radius: 0.4rem;
      background-color: var(--midnight-blue);
      max-width: 28rem;
    }

    &-subitem {
      display: flex;
      gap: 1rem;
      justify-content: left;
      align-items: center;

      span {
        margin-left: -0.5rem;
      }
    }
  }
}
