.timelineContent {
  padding: 1rem 2rem 1rem 2rem;
  overflow: auto;
  border-left: 1px solid var(--steel-blue);
  flex: 1;
  box-shadow: -4px 0 8px rgba(0, 0, 0, 0.2);

  &__list {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;

    &-li {
      display: flex;
      gap: 1rem;
      width: 100%;
    }

    &-date {
      white-space: nowrap;
      position: relative;

      ::after {
        content: "";
        position: absolute;
        width: 0.1px;
        height: 100%;
        background-color: var(--foreground);
        opacity: 0.2;
        top: 32px;
        left: 50%;
      }

      ::before {
        content: "";
        position: absolute;
        width: 1rem;
        height: 0.1px;
        background-color: var(--foreground);
        opacity: 0.2;
        top: 16px;
        left: 100%;
      }

      h5 {
        background-color: var(--midnight-blue);
        border: 1px solid var(--steel-blue);
        padding: 0.5rem 1rem;
        border-radius: 0.4rem;
      }
    }

    &-text {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1rem;
    }

    &-item {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border-radius: 0.4rem;
      background-color: var(--midnight-blue);
      border: 1px solid var(--steel-blue);
      width: 100%;
      padding: 1.5rem 2rem;
      min-height: 350px;
      width: 350px;
      gap: 2rem;

      ul {
        display: flex;
        flex-wrap: wrap;
        gap: 0.5rem;
        justify-content: center;

        li {
          padding: 0.4rem 0.6rem;
          border-radius: 0.4rem;
          background: rgb(7, 34, 66);
        }
      }

      h3 {
        text-align: center;
      }

      a {
        background-color: var(--sky-blue);
        padding: 0.5rem 1rem;
        margin-top: auto;
        color: var(--midnight-blue);
        border-radius: 0.1rem;
        font-size: 0.8rem;
        transition: 0.1s linear;

        &:hover {
          background-color: var(--steel-blue);
          color: var(--white);
        }
      }
    }
  }
}
