:root {
  --background: rgb(1, 22, 39);
  --foreground: rgb(229, 233, 240);
  --green: rgb(56, 185, 151);
  --blue: rgb(17, 35, 51);
  --orange: rgb(254, 165, 95);
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

main {
  position: relative;
  overflow: hidden;
}

.page-exit {
  animation: slideOut 0.5s forwards;
}

.page-enter {
  animation: slideIn 0.5s forwards;
}

@keyframes slideOut {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100vw);
  }
}

@keyframes slideIn {
  from {
    transform: translateX(100vw);
  }
  to {
    transform: translateX(0);
  }
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
