:root {
  --background: rgb(1, 22, 39);
  --foreground: rgb(150, 170, 189); /*silver-gray*/
  --green: rgb(56, 185, 151);
  --emerald-green: rgb(76, 175, 80);
  --blue: rgb(17, 35, 51);
  --dark-blue: rgb(1, 19, 31);
  --steel-blue: rgb(26, 54, 80);
  --midnight-blue: rgb(6, 25, 44);
  --bright-blue: rgb(30, 136, 229);
  --sky-blue: rgb(66, 165, 245);
  --react-blue: rgb(2, 136, 209);
  --royal-blue: rgb(33, 66, 167);
  --orange: rgb(254, 165, 95);
  --red-orange: rgb(239, 83, 80);
  --yellow: rgb(255, 223, 0);
  --amber: rgb(255, 202, 40);
  --purple: rgb(36, 67, 143);
  --dark-purple: rgb(9, 29, 52);
  --deep-purple: rgb(126, 87, 194);
  --orchid-purple: rgb(171, 71, 188);
  --brown: rgb(192, 124, 118);
  --slate-gray: rgb(96, 123, 150);
  --white: rgb(255, 255, 255);

  --background-image: linear-gradient(
    to right,
    var(--dark-purple) 0%,
    var(--dark-blue) 100%
  );
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  background-image: var(--background-image);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  flex-direction: column;
  height: 100vh;
  height: 100svh;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

main {
  position: relative;
  overflow: hidden;
  height: 100%;
  display: flex;
}

::-webkit-scrollbar {
  width: 9px;
  height: 9px;
}

::-webkit-scrollbar-track {
  background-color: transparent !important;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(150, 170, 189, 0.109);
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(150, 170, 189, 0.582);
}

::-webkit-scrollbar-corner {
  background-color: var(--steel-blue);
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
