.primaryMenu {
  &__navigation {
    overflow: hidden;

    &-list {
      display: flex;
      flex-direction: column;
      gap: 0.7rem;
      padding: 1rem 0 1rem 1rem;
      border-bottom: 1px solid var(--steel-blue);

      span:hover {
        color: var(--white) !important;
      }
    }
  }

  &__navigation-item {
    &__header {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      cursor: pointer;
    }

    &__submenu {
      position: relative;
      overflow: hidden;

      div {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        padding: 0.5rem 0rem 0rem 2.5rem;
      }

      &::after {
        content: "";
        position: absolute;
        width: 0.1px;
        height: 100%;
        background-color: var(--foreground);
        opacity: 0.2;
        top: 0;
        left: 0.4rem;
      }

      &-item {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        cursor: pointer;

        svg {
          font-size: 1.5rem;
          color: var(--sky-blue);
        }
      }
    }
  }

  svg {
    font-size: 1.3rem;
    transition: 0.18s ease-in-out;
  }
}
