.secondaryMenu {
  &__navigation {
    overflow: hidden;

    &-list {
      display: flex;
      flex-direction: column;
      gap: 0.7rem;
      padding: 1rem 0 1rem 1rem;

      span:hover {
        color: var(--white) !important;
      }

      a {
        display: flex;
        align-items: center;
        gap: 0.5rem;
      }
    }
  }
}
