.sidebar {
  user-select: none;
  border-right: 1px solid var(--steel-blue);
  min-width: 304.46px;
  background-color: var(--midnight-blue);

  svg {
    transition: 0.18s ease-in-out;
  }

  &__header {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    cursor: pointer;
    padding: 0 3rem 0 1rem;
    border-bottom: 1px solid var(--steel-blue);
    height: 3.3rem;
    color: var(--white);

    svg {
      font-size: 1.3rem;
    }

    span {
      font-weight: 600;
      font-size: 1.1rem;
    }
  }

  &__navigation {
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
    overflow: hidden;
    margin-left: 1rem;
    margin-top: 1rem;

    span:hover {
      color: var(--white) !important;
    }
  }

  &__navigation-item {
    &__header {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      cursor: pointer;

      svg {
        font-size: 1.3rem;
      }
    }

    &__submenu {
      display: flex;
      position: relative;
      flex-direction: column;
      gap: 0.3rem;
      padding: 0.5rem 0rem 0rem 2.5rem;
      overflow: hidden;

      &::after {
        content: "";
        position: absolute;
        width: 0.1px;
        height: 100%;
        background-color: var(--foreground);
        opacity: 0.2;
        top: 0;
        left: 0.4rem;
      }

      &-item {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        cursor: pointer;

        svg {
          font-size: 1.5rem;
          color: var(--sky-blue);
        }
      }
    }
  }
}
