@mixin respond-to($media) {
  @if $media == "tablet" {
    @media (max-width: 1024px) {
      @content;
    }
  }@else if $media == "mobile" {
    @media (max-width: 767px) {
      @content;
    }
  }
}

.sidebar {
  user-select: none;
  border-right: 1px solid var(--steel-blue);
  background-color: var(--midnight-blue);
  overflow: hidden;
  white-space: nowrap;
  min-width: 304.46px;
 

  @include respond-to(mobile) {
    position: absolute;
    height: 100%;
    z-index: 1;
    width: 304.46px;
  }

  a {
    color: var(--green);

    span {
      font-size: 0.9rem;
    }
  }

  svg {
    font-size: 1.3rem;
    transition: 0.18s ease-in-out;
    min-width: 20.79px;
  }

  &__header {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    cursor: pointer;
    padding: 0 3rem 0 1rem;
    border-bottom: 1px solid var(--steel-blue);
    height: 3.3rem;
    color: var(--white);

    span {
      font-weight: 600;
      font-size: 1.1rem;
    }
  }

  &__navigation {
    overflow: hidden;

    &-list {
      display: flex;
      flex-direction: column;
      gap: 0.7rem;
      padding: 1rem 0 1rem 1rem;

      span:hover {
        color: var(--white) !important;
      }
    }
  }

  &__navigation-item {
    &__header {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      cursor: pointer;
    }

    &__submenu {
      display: flex;
      position: relative;
      flex-direction: column;
      gap: 0.3rem;
      padding: 0.5rem 0rem 0rem 2.5rem;
      overflow: hidden;

      &::after {
        content: "";
        position: absolute;
        width: 0.1px;
        height: 100%;
        background-color: var(--foreground);
        opacity: 0.2;
        top: 0;
        left: 0.4rem;
      }

      &-item {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        cursor: pointer;

        svg {
          font-size: 1.5rem;
          color: var(--sky-blue);
        }
      }
    }
  }
}
