.toggleMenu {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  cursor: pointer;
  padding: 0 3rem 0 1rem;
  border-bottom: 1px solid var(--steel-blue);
  height: 3.3rem;
  color: var(--white);
  user-select: none;

  svg {
    transition: 0.18s ease-in-out;
  }

  span {
    font-weight: 600;
    font-size: 1.1rem;
  }
}
