@mixin respond-to($media) {
  @if $media == "tablet" {
    @media (max-width: 1024px) {
      @content;
    }
  } @else if $media == "mobile" {
    @media (max-width: 767px) {
      @content;
    }
  }
}

.footer {
  display: flex;
  border-top: 1px solid var(--steel-blue);
  margin-top: auto;
  color: var(--green);
  background-color: var(--midnight-blue);

  &__name {
    padding: 0.8rem 1.5rem;
    border-right: 1px solid var(--steel-blue);
    align-items: center;

    @include respond-to(mobile) {
      display: none;
    }

    span {
      white-space: nowrap;
    }
  }

  &__list {
    display: flex;
    justify-content: space-around;
    width: 100%;

    li {
      border-right: 1px solid var(--steel-blue);
    }

    li:last-child {
      margin-left: auto;
      border-left: 1px solid var(--steel-blue);
      border-right: none;

      @include respond-to(mobile) {
        border-left: none;
      }
    }

    a {
      display: flex;
      gap: 0.7rem;
      padding: 0.8rem 1.5rem;
    }
  }
}
